extends ./../../layouts/layout-01.pug
block head-script
  link(rel='stylesheet' href=`${env.SERVER}/stylesheets/new-album.css`)
block body-content
    .app
    .header.row.no-gutters.d-flex.align-items-center
      .header__homepage.col-md-2
        a.header__homepage-link(href='#') Photobook
      .header__search.col-md-4
        form.header__search-form(method='post' action=`${env.SERVER}/photo/signin-handler`)
          input.header__search-input.form-control(type='text' placeholder='Search Photo / Album')
      .header__user-profile.col-md-4
        if user
          if user.avatarUrl
            a(href=`${env.SERVER}/user/${user._id}/profile/photo?token=${token}`)
              img.header__user-avatar.rounded-circle(src=`${env.SERVER}/images/${user.avatarUrl}` alt=`${user.avatarUrl}`)
          else
            a#user-avt(href=`${env.SERVER}/user/${user._id}/profile/photo?token=${token}`)
              img.header__user-avatar.rounded-circle(src=`${env.SERVER}/images/default-avatar.png` alt='default-avatar')
        if user
          a#user-fullname.header__user-link(href=`${env.SERVER}/user/${user._id}/profile/photo?token=${token}`) #{user.firstName} #{user.lastName}
      .header__user-action.col-md-2
        a#logout.header__user-action-logout(href=`${env.SERVER}/user/signin`) Logout
    .content.row.no-gutters
      .content__left.col-md-2
        .content__left-link
          div
            a(href=`${env.SERVER}/feeds/photo?token=${token}`) Feeds
          div
            a#discover(href='#') Discover
      .content__mid.col-md-8
        .row.no-gutters.p-4
          h3 New Album
        if msg
          #msg.ml-4 #{msg}
        hr
        .row.no-gutters.p-4.d-flex
          form#new-album-frm(method='post' action=`${env.SERVER}/album?token=${token}` enctype="multipart/form-data")
            .form-group
              label(for='album-title') Title
                input#album-title.form-control(type='text' name='album-title' placeholder='Album title...')
            .form-group
              label(for='album-description') Description
              textarea#album-description.form-control(rows='5' name='album-description' placeholder='Album description...')
            .form-group
              label(for='album-sharing-mode') Sharing mode
              select#album-sharing-mode.form-control(name='album-sharing-mode')
                option(value='public') Public
                option(value='private') Private
            .form-group.photo-album.d-flex.justify-content-center.align-items-center.position-relative
              i#photo-remove.fas.fa-times.position-absolute.d-flex.justify-content-center.align-items-center
              #add-photo-icon +
            .form-group
              input#photo-img.form-control-file.invisible(type='file' name='photo-img')
            .form-group
              input#save-btn.btn.btn-success(type='submit' value='Save')
        .content__right.col-md-2
block body-script
  script(src=`${env.SERVER}/javascripts/new-album.js`)