extends ./../../layouts/layout-01.pug
block head-script
  link(rel='stylesheet' href=`${env.SERVER}/stylesheets/signup.css`)
block body-content
  .app
    .header.row.no-gutters.d-flex.align-items-center
      .header__homepage.col-md-2
        if token
          a.header__homepage-link(href=`${env.SERVER}?token=${token}`) Photobook
        else
          a.header__homepage-link(href=`${env.SERVER}`) Photobook
      .header__search.col-md-4
      .col-md-4
      .header__user-action.col-md-2
        a.header__user-action-login(href=`${env.SERVER}/user/signin/`) Signin
    .row.no-gutters.d-flex.justify-content-center
      form#signup-form.signup-form.col-md-3(method='post' action=`${env.SERVER}/user/signup-handler`)
        .signup-form-header
          .header-title Photobook Signup
          .header-icon
            .header-icon-link.d-flex.justify-content-around
              a(href='https://google.com.vn')
                img.rounded-circle(src=`${env.SERVER}/images/google.png` alt='Google' width='65px' height='65px')
              a(href='https://facebook.com')
                img.rounded-circle(src=`${env.SERVER}/images/facebook.png` alt='Facebook' width='65px' height='65px')
              a(href='https://twitter.com/.com')
                img.rounded-circle(src=`${env.SERVER}/images/twitter.png` alt='Twitter' width='65px' height='65px')
        .signup-form-body
          if jsonRes
            .row
              .col-md-12
                .form-group
                  label#message.error #{jsonRes.message}
          .row 
            .col-md-12
              .form-group
                label(for='first-name') First Name
                input#first-name.form-control(type='text' name='first-name' placeholder='First name')
          .row
            .col-md-12
              .form-group
                label(for='last-name') Last Name
                input#last-name.form-control(type='text' name='last-name' placeholder='Last name')
          .row
            .col-md-12
              .form-group
                label(for='email') Email
                input#email.form-control(type='text' name='email' placeholder='Email')
          .row
            .col-md-12
              .form-group
                label(for='password') Password
                input#password.form-control(type='password' name='password' placeholder='Password')
          .row
            .col-md-12
              .form-group
                label(for='password-confirm') Password Confirm
                input#password-confirm.form-control(type='password' name='password-confirm' placeholder='Password confirm')
          .row.justify-content-center
            .col-auto
              .form-group
                button#signup-btn.btn.btn-success Signup
block body-script
  script(src=`${env.SERVER}/javascripts/signup.js`)